.game-wrapper {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
    position: relative;
}

.level {
    text-align: center;
}

.timer {
    text-align: center;
}

.counter {
    text-align: center;
}

.indicator {
    height: 20px;
    width: 20px;
    background: black;
    position: absolute;
}

.game-over {
    height: 400px;
    width: 900px;
    background: rgb(133, 179, 217, 0.3);
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    display: none;
}

.game-over__title {
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
}
.game-over__level{
    text-align: center;
    font-size: 40px;
}
.game-over__counter{
    text-align: center;
    font-size: 40px;
}